Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a="avendra"
b=[1,2,3,"avi",True,3.77]
c=453.667
d=(1,23,4.567)
print(a)
print(b)
print(c)
print(d)

avendra
[1, 2, 3, 'avi', True, 3.77]
453.667
(1, 23, 4.567)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1=' '
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1

print(type(var1))

print(type(var2))

print(type(var3))

print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
#Divide operator Example
a=2
b=4
if(b/a==2):
    print(f"{b} is divided by {a}")

4 is divided by 2

In [11]:
#Modulo operator Example
if(b%a==0):
    print(f"{b} Modulo {a} is 0")

4 Modulo 2 is 0

In [13]:
#floor division Example
if(b//a==2):
    print(f"{b} floor division {a} is 2")

4 floor division 2 is 2

In [15]:
#power operator Example
if(2**3==8):
    print("2's power is 8")

2's power is 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
l=[1,2,3,True,4.55,"Avendra","avi",3.44,4+3j,3/4]
print(len(l))

10

In [17]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
True
<class 'bool'>
4.55
<class 'float'>
Avendra
<class 'str'>
avi
<class 'str'>
3.44
<class 'float'>
(4+3j)
<class 'complex'>
0.75
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [45]:
a=int(input("Enter the value of A:"))
b=int(input("Enter te value of B:"))

Enter the value of A: 24
Enter te value of B: 2

In [47]:
i=0
while(a%b==0):
        i=i+1
        print(f"Time : {i}")
        break

Time : 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [50]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in li:
    if i%3==0:
        print(f"{i} is divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [51]:
#string immutable:-we cannot change the element of string (update) using '=' operator
s="avi"
s[1]="b

SyntaxError: unterminated string literal (detected at line 3) (3620650080.py, line 3)

In [52]:
#list mutable:-we can change the elements of list (update) using '=' operator
l1=[1,2,3,"avi",True,2.3434]

In [54]:
l1

[1, 2, 3, 'avi', True, 2.3434]

In [58]:
l1[3]="Avendra"

In [59]:
l1

[1, 2, 3, 'Avendra', True, 2.3434]