Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
#method 1:-using '#' in the first

In [3]:
"""Method 2 :-using ''' and ''' will be recognized as a comment in python.python comments are non executable code and does not requiere any space in memory.Comments are simply used to understand the code better! """

"Method 2 :-using ''' and ''' will be recognized as a comment in python.python comments are non executable code and does not requiere any space in memory.Comments are simply used to understand the code better! "

In [22]:
# Method 3 :-using ctrol+/ key together will declare a line or lines as comments:
# Ex:
#     a=1
#     print("Hello World")

Q2. What are variables in Python? How do you declare and assign values to variables?

Variable:-Variables are used to store different values inside it.Variable name acts as a reference for the location of the memory.Variables does not need data type to specify in python  as other programming languages
such as java,c,c++.

We declare a variable using its basic syntax which includes name,assignment operator and its value.
Syntax :-
    variable_name=value

We assign a value to variable using assignment operator '='.

In [5]:
a="Avendra"
print(a)

Avendra

In [6]:
b=1
print(b)

1

Q3. How do you convert one data type to another in Python?

We convert data type by using datatype and ().
Ex:-To covert integer to string we use str(value)

In [7]:
i=1
print(i)

1

In [8]:
type(i)

int

In [15]:
s=str(i)
print(s)

1

In [13]:
type(s)

str

In [17]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [19]:
type(t)

tuple

In [20]:
l=list(t)
print(l)

[1, 2, 3]

In [21]:
type(l)

list

Q4. How do you write and execute a Python script from the command line?

Step 1:-First create the python script with any name.
Ex:-hello.py

Step 2:-go to path using cd or typing cmd to the path of file.
Ex:-C:\konrad\code\python\z_testing

step 3:-write python followed by the name of python file.
Ex:-c:\konrad\code\python\z_testing>python hello.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [24]:
mylist=[1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [25]:
mylist[1:3]

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex Number:A complex number is a number of the form a + bi, where a and b are real numbers ; This way, a is real part and bi is imaginary part.
Ex;-4+4j
4 is real part 
4j is imaginary part

In [26]:
cn=4+3j

In [27]:
cn

(4+3j)

In [29]:
type(cn)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

We declare a variable using its basic syntax which includes name,assignment operator and its value.
Syntax :-
    variable_name=value

In [31]:
age=25

In [32]:
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

We declare a variable using its basic syntax which includes name,assignment operator and its value.
Syntax :-
    variable_name=value

In [33]:
price=9.99

In [34]:
print(price)

9.99

In [35]:
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [36]:
name="Avendra Rahul Dhongadi"

In [37]:
print(name)

Avendra Rahul Dhongadi

Q10. Given the string "Hello, World!", extract the substring "World".

In [38]:
str="Hello, World!"
print(str)

Hello, World!

In [40]:
print(str[7:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [41]:
is_student=True
print(is_student)

True

In [45]:
is_student=bool(input("Are you a student type (True/False):"))

Are you a student type (True/False): True

In [46]:
type(is_student)

bool