Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
series=pd.Series([4,8,15,16,23,42])

In [3]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
type(series)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]

In [6]:
list_series=pd.Series(l)

In [7]:
print(list_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
type(list_series)

pandas.core.series.Series

Q3.Create a Pandas DataFrame that contains the following data?

In [11]:
data=[["Alice",25,"Female"],["Bob",30,"Male"],["Claire",27,"Female"]]

In [12]:
df=pd.DataFrame(data=data,columns=["Name","Age","Gender"])

In [13]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series:-
1.One-dimensional
2.Homogenous – Series elements must be of the same data type
3.Size-immutable – Once created, the size of a Series object cannot be changed.

Pandas DataFrame:-
1.Two-dimensional
2.Heterogenous – DataFrame elements can have different data types.
3.Size-mutable – Elements can be dropped or added in an existing DataFrame.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are  functions like . shape, . info() and . corr() which output the shape of the table, information on rows and columns, and correlation between numerical columns.

In [15]:
#EX:-getting the shape of the previos dataframe
df.shape

(3, 3)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All the Three Series,DataFrame and Panel are Mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

First Create series and store them in dictionary as per the name of Key representing the label of Dataframe.Use
concat method to create a DataFrame using multiple Series

In [23]:
series_1=pd.Series(data=[1,2,3,4],name="Roll_no")

In [24]:
series_1

0    1
1    2
2    3
3    4
Name: Roll_no, dtype: int64

In [25]:
series_2=pd.Series(data=["Avi","Sudh","Ravi","Viraj"])

In [29]:
data1={"Name":series_2,"Roll_no":series_1}

In [27]:
series_2

0      Avi
1     Sudh
2     Ravi
3    Viraj
dtype: object

In [32]:
df1=pd.concat(data1,axis=1)

In [33]:
df1

    Name  Roll_no
0    Avi        1
1   Sudh        2
2   Ravi        3
3  Viraj        4