Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [54]:
l.sort(key=lambda x :x[1])
print(l)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(map(lambda x:x**2,l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
l4= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
tuple(map(lambda x:str(x),l4))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [14]:
l5=[i for i in range(1,25)]
print(l5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [15]:
from functools import reduce

In [16]:
reduce(lambda x,y:x*y,l5)

620448401733239439360000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [28]:
l6=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [29]:
l6

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [30]:
list(filter(lambda x:x%2==0 or x%3==0,l6))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [31]:
l7=['python', 'php', 'aba', 'radar', 'level']

In [32]:
l7

['python', 'php', 'aba', 'radar', 'level']

In [38]:
l8=list(filter(lambda x:x==x[::-1],l7))
print(l8)

['php', 'aba', 'radar', 'level']

In [37]:
for i in l8:
    print(i+" string is palindrome!")

php string is palindrome!
aba string is palindrome!
radar string is palindrome!
level string is palindrome!